                .menu_title{
                    font-family:'impact';
                    font-size:20px;
                   
                    
                }
                
                .menu_content{
                    font-family:'impact';
                    font-size:20px;
                   
                    
                }
                
                
                .menu_video{
                    font-family:'impact';
                    font-size:20px;
                   
                    
                }
                
                .menu_check{
                    font-family:'impact';
                    font-size:20px;
                   
                    
                }
                
                .menu_user{
                    font-family:'impact';
                    font-size:20px;
                   
                    
                }
                
                .menu_color{
                    font-family:'impact';
                    font-size:20px;
                   
                    
                }
                
                